.contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    gap:20px;
    margin: 30px;
}

.tarjeta-personaje{
    border: 1px solid black;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}

.imagen-personaje{
    width:100%;
}
